<head>
  <title>{{title}}</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/> 
  <meta name="Description" content="{{description}}"/>
  <link rel="stylesheet" href="/static/css/style.css" type="text/css" media="screen"/>
  <link rel="stylesheet" href="/static/css/pygments.css" type="text/css" media="screen"/>
</head>
<body>
  <div id="header">
    <div id="header-feeds">
      <a href="https://github.com/thefoxbox"><img src="/static/images/github-icon32x32.png" alt=""/></a>
      <a href="http://feeds.feedburner.com/thefoxboxdotcom" rel="alternate" type="application/rss+xml"><img src="/static/images/feed-icon32x32.png" alt=""/></a>
    </div>
    <div id="header-logo">
      <a href="/"><img width="240px" src="/static/images/thefoxbox-logo-header.jpg" alt="The Fox Box"/></a>
    </div>
  </div>
  <div id="content">
    {{{content}}}
  </div>
  <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
  try{
    var pageTracker = _gat._getTracker("UA-12490582-1");
    pageTracker._trackPageview();
  } catch(err) {}
  </script>
</body>
