<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
    <title>Title - &copy; Copyright 2010 Eric Fox</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/> 
    <meta name="Description" content="Music by Eric Fox"/>
    <link rel="stylesheet" href="/css/style.css" type="text/css" media="screen"/>
</head>
<body id="content-page">
<div id="feeds">
    <a href="http://www.twitter.com/thefoxboxdotcom"><img src="/images/twitter-icon32x32.png" alt="" style="vertical-align:middle;border:0"/></a>
    <a href="http://feeds.feedburner.com/thefoxboxdotcom" rel="alternate" type="application/rss+xml"><img src="/images/feed-icon32x32.png" alt="" style="vertical-align:middle;border:0"/></a>
</div>
<div id="header">
    <img src="/images/thefoxbox-logo-header.jpg" alt="The Fox Box"/>
</div>
<div id="content">
    <script type="text/javascript" src="/js/audio-player.js"></script>
    <div>
    <object type="application/x-shockwave-flash" data="/plugins/player.swf" id="audioplayer" height="24" width="290">
        <param name="movie" value="/plugins/player.swf"/>
        <param name="FlashVars" value="playerID=audioplayer&amp;autostart=yes&amp;soundFile=/media/Title.mp3"/>
        <param name="quality" value="high"/>
        <param name="menu" value="false"/>
        <param name="wmode" value="transparent"/>
    </object> 
    </div>

    <h1>Title</h1>
    Copyright &copy; 2010 Eric Fox<br/>
    <p>

    </p>
</div>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try{
    var pageTracker = _gat._getTracker("UA-12490582-1");
    pageTracker._trackPageview();
} catch(err) {}
</script>
</body>
</html>
