body {
    background-color: #000;
    color: #FFF;
    font-family: sans-serif;
}
#header {
    height: 50px;
}
#header-logo {
    float: left;
}
#header-feeds {
    padding: 10px 10px;
    float: right;
}
#content {
    background-color: #fff;
    margin: 10px;
    padding: 20px 30px 20px 30px;
    color: #000;
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;

    -webkit-box-shadow: 0 0 5px #333;
    -moz-box-shadow: 0 0 5px #333;
    box-shadow: 0 0 5px #333;
}
div#content.empty {
    height: 420px;
    background-color: #000;
    background-image: url("../images/thefoxbox-logo-background.jpg");
    background-repeat: no-repeat;
    background-position: center;
}
div#content.gallery {
    background-color: #000;
}
h1 {
    color: #006699;
    border-bottom: 1px solid #ebebeb;
}
h3 {
    color: #003366;
}
h2 {
    color: #6699cc;
}
pre {
    background-color: #fcfcfc;
    border: 1px solid #ebebeb;
    padding: 10px;
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}
a img {
    border: none;
    outline: none;
}
li {
    font: 14pt sans-serif;
}
li a {
    display: block;
    padding: 8px 8px;
    text-decoration: none;
    font-weight: bold;
    color: #FFF;
}
li a:hover {
    color: #4EC5E4;
}
ul {
    list-style-type: square;
}
